ODOO_HOSTNAME=odoo.example.com
LETS_ENCRYPT_CONTACT_EMAIL=equipo@lidalabs.com
# TRAEFIK_HOSTNAME='traefik-ui.local'
TRAEFIK_HTTP_USER='admin'
TRAEFIK_HTTP_PASSWORD='YXppfrjxRfMhhU+QQMgW6A=='

# Port mapping (defaults: 8069/8072 for local; set to 10017/20017 for prod without Traefik)
ODOO_PORT=8069
ODOO_LONGPOLL_PORT=8072
