[submodule "l10n_ve"]
	path = l10n_ve
	url = git@github.com:LIDALabs/lidoo-venezuela.git
	branch = 17.0-lida
[submodule "enterprise"]
	path = enterprise
	url = git@github.com:LIDALabs/lidoo-enterprise-internal.git
	branch = 17.0
	shallow = true
[submodule "lidoo-analytics"]
	path = lidoo-analytics
	url = git@github.com:LIDALabs/lidoo-analytics.git
