[submodule "l10n_ve"]
	path = l10n_ve
	url = https://github.com/LIDALabs/odoo-venezuela.git
	branch = 17.0
	shallow = true

[submodule "enterprise"]
	path = enterprise
	url = https://github.com/LIDALabs/lidoo-enterprise.git
	branch = 17.0
	shallow = true
